.footer-text {
  color: #656565;
  text-align: center;
  margin-top: 2.2rem;
}

.heart {
  color: rgb(226, 0, 0);
  padding: 0 0.3rem;
  font-size: 1rem;
}

.dev-name {
  font-weight: 600;
  color: #1c1c1c;
}
